name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_status_checking_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22.12.0"
      - name: Install server dependencies
        run: |
          cd server
          npm ci
      - name: Install client dependencies
        run: |
          cd client
          npm ci
